.my-card-wrapper {
    padding: 0;
}
.my-card-wrapper .my-card-body {
    height: 100%;
    width: 100%;
    padding: 1rem;
}
.my-card-wrapper .my-card-body .my-info-card-image {
    margin: 0 auto;
    width: 55%;
}