.list-col {
    padding: 1rem;
}
.lists-f .my-add-to-list-item {
    padding: 0;
}
.lists-f .my-add-to-list-item a {
    margin: 0;
    padding: .5rem;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
}