.list-col {
    padding: 0;
    margin-bottom: .5rem;
}
.list-col .lists-f {
    padding: 0;
    margin: 0;
}
.lists-f .my-add-to-list-item {
    padding: 1rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.lists-f .my-add-to-list-item:hover {
    background-color: #ff4921;
    transition: all 1s ease-in-out;
}
